body {
  font-family: 'Open Sans', sans-serif;
}
.banner-container {
  background-color: #cacaca;
}
.banner-column {
  background-color: #8d8d8d;
}
.navbar-container {
  background-color: #262637;
}
.about-container {
  background-color: #00bdbd;
}
.education-container {
  background-color: #eeeeee;
}
.bg-redtype {
  background-color: #fb857f;
}
.redtype-color {
  color: #fb857f;
}
.circle {
  background-color: #fb857f;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
